<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :show_email %><br />
  <%= f.check_box :show_email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :nick %><br />
  <%= f.text_field :nick %></p>

  <p><%= f.label :prename %><br />
  <%= f.text_field :prename %></p>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>

  <p><%= f.label :show_name %><br />
  <%= f.check_box :show_name %></p>

  <p><%= f.label :street %><br />
  <%= f.text_field :street %></p>

  <p><%= f.label :show_street %><br />
  <%= f.check_box :show_street %></p>

  <p><%= f.label :zip %><br />
  <%= f.text_field :zip %></p>

  <p><%= f.label :city %><br />
  <%= f.text_field :city %></p>

  <p><%= f.label :show_city %><br />
  <%= f.check_box :show_city %></p>

  <p><%= f.label :homepage %><br />
  http://<%= f.text_field :homepage %></p>

  <p><%= f.label :about %><br />
  <%= f.text_area :about %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
