<h1>Listing unregistered_users</h1>

<table>
  <tr>
    <th>Prename</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unregistered_users.each do |unregistered_user| %>
  <tr>
    <td><%= unregistered_user.prename %></td>
    <td><%= unregistered_user.name %></td>
    <td><%= link_to 'Show', unregistered_user %></td>
    <td><%= link_to 'Edit', edit_unregistered_user_path(unregistered_user) %></td>
    <td><%= link_to 'Destroy', unregistered_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unregistered user', new_unregistered_user_path %>
