<p id="notice"><%= notice %></p>

<p>
  <b>Prename:</b>
  <%= @unregistered_user.prename %>
</p>

<p>
  <b>Name:</b>
  <%= @unregistered_user.name %>
</p>


<%= link_to 'Edit', edit_unregistered_user_path(@unregistered_user) %> |
<%= link_to 'Back', unregistered_users_path %>
