<h1>Listing tenders</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Aktiv?</th>
    <th>Event</th>
    <th></th>
    <th></th>
  </tr>

<% @tenders.each do |tender| %>
  <tr>
    <td><%= tender.date %></td>
    <td><%= tender.description %></td>
    <td><%= not(tender.ended) %></td>
    <td><%= link_to tender.event.name, event_path(:id => tender.event_id) %></td>
    <td><%= link_to 'Show', tender %></td>
    <td><%= link_to 'Bewerben', new_candidature_id_path(:tender_id => tender.id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tender', new_tender_path %>
