<h1>Alle Ausschreibungen</h1>

<table>
  <tr>
    <th>Datum</th>
    <th>Beschreibung</th>
    <th>Aktiv?</th>
    <th>Event</th>
    <th></th>
    <th></th>
  </tr>

<% @tenders.each do |tender| %>
  <tr>
    <td><%= tender.date %></td>
    <td><%= tender.description %></td>
    <td><%= not(tender.ended) %></td>
    <td><%= link_to tender.event.name, event_path(:id => tender.event_id) %></td>
    <td><%= link_to 'Show', tender %></td>
    <td>
      <% if user_signed_in? %>
        <%= link_to 'Bewerben', new_candidature_id_path(:tender_id => tender.id) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
