<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @tender.date %>
</p>

<p>
  <b>Description:</b>
  <%= @tender.description %>
</p>

<p>
  <% if @tender.ended %>
    <b>Diese Ausschreibung ist abgelaufen.</b>
  <% else %>
    <b>Diese Ausschreibung ist aktiv.</b>
  <% end %>
</p>

<p>
  <b>Event:</b>
  <% unless @tender.event.nil? %>
    <%= link_to @tender.event.name, event_path(:id => @tender.event_id) %>
  <% else %>
    FEHLER
  <% end %>
</p>


<%= link_to 'Edit', edit_tender_path(@tender) %> |
<%= link_to 'Back', tenders_path %>
