<p id="notice"><%= notice %></p>

<p>
  <b>Datum:</b>
  <%= @tender.date %>
</p>

<p>
  <b>Ausschreibungstext:</b>
  <%= @tender.description %>
</p>

<p>
  <% if @tender.ended %>
    <b>Diese Ausschreibung ist abgelaufen.</b>
  <% else %>
    <b>Diese Ausschreibung ist aktiv.</b>
  <% end %>
</p>

<p>
  <b>Event:</b>
  <% unless @tender.event.nil? %>
    <%= link_to @tender.event.name, event_path(:id => @tender.event_id) %>
  <% else %>
    FEHLER
  <% end %>
</p>

<% unless @tender.artist_groups.empty? %>
  <p>
    <b>Bewerbende Gruppen:</b>
    <ul>
        <% @tender.artist_groups.each do |ag| %>
          <% g = get_sup_group_artist(ag.id) %>
          <li><%= link_to g.name, group_path(:id => g.id) %></li>
        <% end %>
    </ul>
  </p>
<% end %>

<% if user_is_host_tender?(current_user.id, @tender.id) %>
    <%= link_to 'Bearbeiten', edit_tender_path(@tender) %> |
<% end %>

<%= link_to 'Zurueck', tenders_path %>

