<%= form_for(@candidature) do |f| %>
  <% if @candidature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidature.errors.count, "error") %> prohibited this candidature from being saved:</h2>

      <ul>
      <% @candidature.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :tender_id, :value => @tender_id %>

  <div class="field">
      <% if @candidature.artist_group_id.nil? %>  <%# New %>
          <% if user_artg.length == 1 %>
              <b>Künstlergruppe: </b><%= user_artg.first.name %>
              <%= f.hidden_field :artist_group_id, :value => user_artg.first.groupable_id %>
          <% else %>
              <%= f.label :artist_group_id, 'Künstlergruppe' %>
              <%= f.select :artist_group_id, options_for_select( user_artg.map do |uag| [uag.name, uag.groupable_id] end ) %>
          <% end %>
      <% else %>  <%# Edit %>
          <b>Künstlergruppe: </b><%= get_sup_artist_group(@candidature.artist_group_id).name %>
          <%= f.hidden_field :artist_group_id, :value => @candidature.artist_group_id %>
      <% end %>
  </div>

  <div class="field">
    <%= f.label :description, 'Bewerbungstext' %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Änderungen speichern' %>
  </div>
<% end %>
