<h1>Alle Bewerbungen</h1>

<table>
  <tr>
    <th>Ausschreibung</th>
    <th>Künstlergruppe</th>
    <th>Bewerbungstext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidatures.each do |candidature| %>
  <tr>
    <td><%= link_to "für den #{candidature.tender.date}", tender_path(:id => candidature.tender_id) %></td>
    <td>
      <% g = get_sup_artist_group(candidature.artist_group_id) %>
      <%= link_to g.name, group_path(:id => g.id) %>
    </td>
    <td><%= candidature.description %></td>
    <td><%= link_to 'Show', candidature %></td>
    <td><%= link_to 'Edit', edit_candidature_path(candidature) %></td>
    <td><%= link_to 'Destroy', candidature, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
