<h1>Alle Gruppen</h1>

<% if user_signed_in? %>

    <%= link_to 'Neue Gruppe erstellen', new_group_path %>

    <% mygroups = get_groups_of_user(current_user.id) %>

    <% unless mygroups.empty? %>
        <%= render 'show_group', :groups => mygroups, :title => 'Meine Gruppen',
                                 :show_links => true %>
    <% end %>
<% end %>

<%= render 'show_group', :groups => @artist_groups, :title => 'Künstlergruppen' %>

<%= render 'show_group', :groups => @host_groups, :title => 'Veranstaltergruppen' %>

<%= render 'show_group', :groups => @fan_groups, :title => 'Fangruppen' %>

<br />
