<h1>Zusätzliche Informationen zum Gruppentyp</h1>

<%= form_for(@group) do |f| %>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :homepage %>

    <%= hidden_field_tag(:group_type, @group_type) %>

    <% case @group_type.to_i %>
        <% when 1 %>
            <%= render 'artist_group' %>
        <% when 2 %>
            <%= render 'fan_group' %>
        <% when 3 %>
            <%= render 'host_group' %>
    <% end %>

    <div class="actions">
        <%= f.submit 'Weiter' %>
    </div>
<% end %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %>
