<p>
  <b>Name:</b>
  <%= @group.name %> (<%= @show_class %>)
</p>

<% unless @group.homepage.nil? %>
    <p>
      <b>Homepage:</b>
      <a href="http://<%= @group.homepage %>"><%= @group.homepage %></a>
    </p>
<% end %>

<% if user_signed_in? && user_in_group?(current_user.id, @group.id) && @group.groupable_type == 'HostGroup' %>
  <p>
    <%= link_to 'Neue Veranstaltung anlegen', new_event_id_path(:host_id => @hg.id) %>
  </p>
<% end %>

<p>
  <b>Mitglieder:</b><br />
   <% @group.members.each do |m| %>
      <% unless is_registered? m %>
        <%= m.prename %> <%= m.name %>  <%# unregistrierter Benutzer %>
      <% else %>
        <%= link_to m.nick, user_profile_path(m) %>  <%# registierter Benutzer %>
      <% end %>

      <% if is_artist_group? @group %>
        <% users_instruments = get_instruments(m.id, @group.id) %>

        <% unless users_instruments.first.empty? %>
            (
            <% users_instruments.each do |i| %>
                <% z = 1 %>
                <% i.each do |e| %>
                   <%= e.abbreviation %><% if z < i.length %>,<% end %>
                   <% z += 1 %>
                <% end %>
            <% end %>
            )
        <% end %>
      <% end %>

      <% if user_signed_in? && user_in_group?(current_user.id, @group.id) %>
          <%= link_to 'Löschen', remove_user_from_group_path(@group, :user_id => m.id, :user_type => m.class),
                      :method => :delete %>
      <% end %>
      <br />
   <% end %>
</p>

<% if user_signed_in? && user_in_group?(current_user.id, @group.id) %>

    <% if @all_registered_users.length > 0 %>
        <p>
          <b>Registrierte Benutzer hinzuf&uuml;gen:</b>
          <%= form_tag add_user_to_group_path(@group) do %>
            <div class="field">
              <%= select_tag "user_id", options_for_select( @all_registered_users.map do |u| [u.nick, u.id] end ) %>
            </div>

            <% if @is_artist %>
                <div class="field">
                  <%= select_tag "instr_id", options_for_select( @all_instruments.map do |u| [u.name, u.id] end ), :multiple => true %>
                </div>
            <% end %>

            <div class="field">
              <%= submit_tag "zur Gruppe hinzufügen" %>
            </div>

          <% end %>
        </p>
    <% end %>

    <p>
      <b>Unregistrierten Benutzer hinzuf&uuml;gen:</b>
      <%= form_tag add_unreg_user_to_group_path(@group) do %>
        <div class="field">
            <%= label_tag "Vorname" %>
            <%= text_field_tag "unreg_prename" %>
        </div>

        <div class="field">
            <%= label_tag "Nachname" %>
            <%= text_field_tag "unreg_surname" %>
        </div>

        <% if @is_artist %>
            <div class="field">
                <%= select_tag "instr_id", options_for_select( @all_instruments.map do |u| [u.name, u.id] end ), :multiple => true %>
            </div>
        <% end %>

        <div class="actions">
          <%= submit_tag "zur Gruppe hinzufügen" %>
        </div>
      <% end %>
    </p>

    <%= link_to 'Edit', edit_group_path(@group) %> |
<% end %>

<%= link_to 'Zurück', groups_path %>